body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h2 {
    color: #021a41;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

h3 {
    color: #00a54d;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

h4 {
    color: #67758d;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

p {
    color: #021a41;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

/*------------------- Header + Navigation ----------------------------------*/

header {
    background: #1b3053;
    height: 30px;
    padding: 4px;
}

#externallink {
    display: none;
    float: right;
    justify-content: space-between;
}

#externallink .link {
    padding-right: 20px;
}

#externallink p {
    color: white;
}

#menudesktop {
    text-align: center;
}

#menudesktop a {
    display: none;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    margin: 0 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #021a41;
}

#menudesktop a:hover {
    border-width: 2px;
    border-top-style: solid;
    border-top-color: #00a54d;
}

/*------------------- Hamburgermenu -------------------------*/

#menuToggle a {
    text-decoration: none;
    color: #021A41;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: #00a54d;
}

#menuToggle {
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #67758d;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #021A41;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    left: 7%;
    width: 290px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}

/*-------------------- news sektionen -----------------------------*/

#news {
    margin-top: 20px;
}

#news .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
}

#news .column {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 5px;
}

/*-------------------- certifikater sektionen ---------------------*/

#certifikater img {
    max-width: 200px;
}

#certifikater .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#certifikater .certifikat {
    flex-grow: 2;
    flex-basis: 100px;
    padding: 5px;
}

/*------------------ Team og kontakt -----------------------*/

#team_kontakt_top {
    margin-top: 30px;
}

#team_kontakt_top .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

#team_kontakt_top .column {
    flex-grow: 1;
    flex-basis: 200px;
}

#team_kontakt_top .column img {
    max-width: 100%;
}

#team_kontakt_bottom {
    margin-top: 30px;
}

#team_kontakt_bottom .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#team_kontakt_bottom .column {
    flex-grow: 1;
    flex-basis: 200px;
}

#team_kontakt_bottom .column img {
    max-width: 100%;
}

/*------------------ Ydelser -----------------------*/

#ydelser_top {
    margin-top: 30px;
}

#ydelser_top .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

#ydelser_top .column {
    flex-grow: 1;
    flex-basis: 200px;
}

#ydelser_top .column img {
    max-width: 100%;
}

#ydelser_bottom {
    margin-top: 30px;
}

#ydelser_bottom .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#ydelser_bottom .column {
    flex-grow: 1;
    flex-basis: 200px;
}

#ydelser_bottom .column img {
    max-width: 100%;
}

/*------------------ Media Q -----------------------*/

@media only screen and (min-width: 375px) and (orientation: portrait) {

    #certifikater img {
        max-width: 100px;
    }

}

@media only screen and (min-width: 667px) and (orientation: landscape) {

    #certifikater .logo1 {
        margin-left: 50px;
    }
    #certifikater .logo4 {
        margin-left: 30px;
        padding-left: 10px
    }
    #menu {
        left: 6%;
    }
}

@media only screen and (min-width: 667px) {
    #menuToggle {
        display: none;
    }
    #menudesktop a {
        display: inline-block;
    }
    #externallink {
        display: flex;
    }
}
