body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h2 {
    color: #021a41;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

h3 {
    color: #00a54d;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

h4 {
    color: #67758d;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
}



#hero {
    max-width: 375px;
}

#hero img {
    width: 375px;
}

#hero .bluebox {
    max-width: 375px;
    background-color: blue;
}

#hero .whitebox {
    width: 300px;
    background-color: white;
}

#hero .green {
    color: green;
}

/*------------------- Header ----------------------------------*/

header {
    background: #1b3053
}

/*------------------- Hamburgermenu ---------------------------*/

a {
    text-decoration: none;
    color: #021A41;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    transition: color 0.3s ease;
}

a:hover {
    color: #f1640a;
}

#menuToggle {
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #67758d;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #021A41;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    left: 7%;
    width: 278px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: none;
}


@media only screen and (min-width: 768px) {
    #hero .bluebox {
        position: absolute;
        top: 8px;
        left: 10px;
        width: 100%;
        height: 100px;
        background-color: blue;
        z-index: -1;
    }

    #hero .heroimage {
        position: relative;
        text-align: center;
        color: white;
    }

    #hero .herotext {
        position: absolute;
        top: 8px;
        left: 16px;
        color: black;
        z-index: 2;
    }

    #hero .whitebox {
        position: absolute;
        top: 8px;
        left: 10px;
        width: 300px;
        height: 100px;
        background-color: white;
        z-index: 1;
    }
}
